{% extends "base.html.twig" %}
{% block title %}Poste N°{{ article.id }}{% endblock %}
{% block body %}
    <h1>Poste N°{{ article.id }}</h1>
    <p class="content">{{ article.contenu }}</p>
    {% if article.image != "" %}
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="{{ article.image }}" alt="image"></a>
    {% endif %}
    {% if article.auteur != "" %}
        <p class="autor">{{ article.auteur }}</p>
    {% else %}
        <p class="autor">Anonyme</p>
    {% endif %}
    <a class="btn" href="/blog">Return to home</a>
{% endblock %}